<div class="navbar-wagon ">

  <!-- Logo -->
  <%= link_to events_path, class: "navbar-logo" do %>
    <%= image_tag "logo.png", height: 60 %>
  <% end %>

  <%= link_to events_path, class: "navbar-gps" do %>
      <i class="fas fa-map-marker-alt fa-2x fa-red"></i>
  <% end %>

  <%= link_to camera_path, class: "navbar-camera" do %>
      <i class="fas fa-camera fa-3x fa-red"></i>
  <% end %>

  <%= link_to camera_path, class: "navbar-upload" do %>
      <i class="fas fa-image fa-2x fa-red"></i>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <%= link_to "Logout", destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", method: :delete %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo == nil %>

            <% else %>
              <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
            <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="hidden-md hidden-lg">
    <div class="btn-group dropup">
      <i class="fas fa-user-circle fa-2x fa-red" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %></li>
        <li><%= link_to new_event_path do %>
          <span><i class="fas fa-plus-circle fa-3x fa-red"></i></i> <%= t(".profile", default: "Create an Event" ) %></span>
              <% end %></li>
        <li><%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %></li>
      </ul>
    </div>
  </div>
</div>


