
<div class="mg-container">
<div class="container">
  <% if current_user == nil %>
  <div class="flex-container">
    <div class="no-login-card">
      <div class="no-login info-box">
        <div class="no-login-text">
          <h1>Login to see your events:</h1>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="login">
        <%= link_to "Login", new_user_session_path, class: "btn btn-danger login" %>
      </div>
      <div class="event-actions">
        <%= link_to new_event_path do %>
        <div class="pull-right">
          <div class="event-button">
            <p>New event</p><i class="fas fa-plus-circle fa-2x fa-red"></i>
          </div>
        </div>
        <% end %>
        <%= link_to search_events_path do %>
        <div class="pull-left">
          <div class="event-button">
            <i class="fas fa-search fa-2x fa-red"></i><p>Search events</p>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
  <% else %>
  <h4 class="events-block-title">Your latest event</h4>
  <%= link_to event_path(@events.first) do %>
  <div class="latest-event card-border">
    <%= cl_image_tag(@events.first.photos.first.file) %>
    <div class="latest-event-infos">
      <%= image_tag(@events.first.creator.photo, class: "avatar-small") %>
      <div class="lastest-event-details">
        <p class="lastest-event-name"><%= @events.first.name %></p>
        <p class="lastest-event-location"><%= @events.first.location %></p>
      </div>
    </div>
  </div>
  <% end %>
  <h4 class="events-block-title">All your events</h4>
  <div class="all-events">
    <% @events[1..9].each do |event| %>
    <% if event.photos.first != nil %>
    <%= link_to event_path(event) do %>
    <div class="event-small-card card-border">
      <%= cl_image_tag(event.photos.first.file) %>
      <p><%= event.name %></p>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
  <div class="event-actions">
    <%= link_to new_event_path do %>
    <div class="pull-right">
      <div class="event-button">
        <p>New event</p><i class="fas fa-plus-circle fa-2x fa-red"></i>
      </div>
    </div>
    <% end %>
    <%= link_to search_events_path do %>
    <div class="pull-left">
      <div class="event-button">
        <i class="fas fa-search fa-2x fa-red"></i><p>Search events</p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
  </div>
