<div class="wrapper-topbar" style="background-image: linear-gradient(-225deg, rgba(255, 106, 0, 0.8) 10%, rgba(252, 3, 3, 0.69) 65%);">
  <div class="subcontainer-topbar">
      <div class="topbar-name text-center">
        <p>CREATE A NEW EVENT</p>
      </div>
  </div>
</div>
<div class="subcontainer">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= simple_form_for @event do |f| %>
        <div class="form-inputs">
          <%= f.input :name, required: false, autofocus: true , placeholder: "Write the name of your event" %>
          <%= f.input :location, required: false, autofocus: true , placeholder: "Where does your event take place ?"  %>
          <%= f.input :start_date, as: :string %>
          <%= f.input :end_date, as: :string %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "create event", class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
