<div class="mg-container">
<div class="wrapper">
  <div class="container text-center">

    <h1>Create a new Event</h1>

    <%= simple_form_for [@event] do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :radius %>
    <%= f.input :start_date, as: :string %>
    <%= f.input :end_date, as: :string %>
    <%= f.input :access_key %>

    <%= f.submit "Create event!", class: "btn btn-primary btn-new-event" %>
    <% end %>
  </div>
</div>
</div>
