<div class="container">
  <div class="subcontainer">
    <div class= "btn btn btn-outline-danger btn-sm center-block"><i class="fas fa-arrow-circle-left"></i>
      <%= link_to "Go back to my events", events_path %>
    </div>
    <div class="searches list-inline">
      <div id="search-by-location" class="btn btn-primary btn-danger">
        <span class="glyphicon glyphicon-map-marker"></span>Search near me
      </div>
      <p id="user-position"></p>
      <p><strong>OR</strong></p>
      <div class="search-by-name">
        <%= form_tag search_events_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by name"
          %>
        <% end %>
      </div>
    </div>
    <% if !@events.nil? %>
      <div class='result'>
        <% @events.each do |event| %>
          <div class="event-name">
            <p><%= link_to event.name, event_path(event) %></p>
          </div>
          <div class="event-location">
            <%= event.location %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div id="events-nearby">
    </div>
  </div>
</div>

