<div class="container">
  <div class="subcontainer">
    <div class= "btn btn btn-outline-danger btn-sm center-block"><i class="fas fa-arrow-circle-left"></i>
      <%= link_to "Go back to my events", events_path %>
    </div>
    <div class="searches list-inline">
      <div id="search-by-location" class="btn btn-primary btn-danger">
        <span class="glyphicon glyphicon-map-marker"></span> Search near me
      </div>
      <p id="user-position"></p>
      <p><strong>OR</strong></p>
      <div class="search-by-name">
        <%= form_tag search_events_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search by name"
          %>
        <% end %>
      </div>
    </div>
    <div id="events-nearby">
      <% if @events.present? %>
        <% @events.each do |event| %>
          <%= link_to event_path(event) do %>
            <div class='result'>
              <div class="event-creator-avatar">
                <%= image_tag(event.creator.photo, :style=>'height:40px; width:40px; border-radius:50px;') %>
              </div>
              <div class="event-name">
                <%= event.name %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
