<% content_for :title, "Shary Pix - Search for new events around your location or by name!" %>
<div class="wrapper-topbar" style="background-image: linear-gradient(-225deg, rgba(255, 106, 0, 0.8) 10%, rgba(252, 3, 3, 0.69) 65%);">
  <div class="subcontainer-topbar">
    <div class="topbar-name text-center">
      <p>SEARCH FOR NEW EVENTS</p>
    </div>
  </div>
</div>
<div class="subcontainer">
  <div class="searches">
    <div class="search-by-name">
      <%= form_tag search_events_path, method: :get, class: "form-inline" do %>
        <div id= "search-data" class="form-search search-data" data-acevents="<%= @acevents.to_json %>">
          <%= text_field_tag :query, params[:query], autocomplete: :off, class: "form-control search-input", placeholder: "Search by name" %>
          <div id= "search-data" class="form-search search-data" data-acevents="<%= @acevents.to_json %>">
          </div>
        </div>
      <% end %>
    </div>
    <p class="text-center" style="margin: 10px;">or</p>
    <div class="by-location">
      <p class="btn-shary" id="search-by-location">Search near your current location</p>
    </div>
  </div>
  <div id="events-nearby">
    <% if @events.present? %>
      <% @events.each do |event| %>
        <%= link_to event_path(event) do %>
                <div class='result'>
                  <div class="event-creator-avatar">
                    <%= image_tag(event.creator.user_avatar, :style=>'height:40px; width:40px; border-radius:50px;') %>
                  </div>
                  <div class="result-central">
                    <div class="event-name"><%= event.name %></div>
                    <div class="event-location-results"><%= event.location %></div>
                  </div>
                </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
