<div class="container">
  <div class="subcontainer">
    <div class="photo-card card-border">
      <div class="photo-image">
        <%= cl_image_tag(@photo.file, class: "main-image")%>
      </div>
      <div class="photo-info">
        <div class="likes">
          <%= link_to event_photo_like_path(@photo.event, @photo) do %>
            <% if current_user.is_liking?(@photo) %>
              <p><i class="fas fa-heart"></i> <%= @photo.likes.count %></p>
            <% else %>
              <p><i class="far fa-heart"></i> <%= @photo.likes.count %></p>
            <% end %>
          <% end %>
        </div>
        <div class="comments">
          <p><i class="far fa-comment"></i> <%= @photo.comments.count %></p>
        </div>
      </div>
    </div>
    <div class="photo-tags">
      <p id="tag-title">Tags</p>
      <% @photo.photo_tags.each do |tag| %>
        <p class="tag">#<%= tag.tag.name %></p>
      <% end %>
    </div>
    <%= render 'photos/comment', photo: @photo, comment: @comment %>
    <div class="photo-comments list-inline">
      <% @photo.comments.each do |comment| %>
        <li><%= comment.content %></li>
      <% end %>
    </div>
  </div>
</div>
