<% content_for :title, "Shary Pix - Event: #{@event} - Photo by #{@photo.user.username}" %>
<div class="container fix-padding">
  <div class="wrapper-topbar" style="background-image: linear-gradient(-225deg, rgba(255, 106, 0, 0.8) 10%, rgba(252, 3, 3, 0.69) 65%);">
    <div class="subcontainer-topbar">
      <div class="back-arrow text-center">
        <%= link_to event_path(@event) do %>
          <p><i class="fas fa-chevron-left"></i></p>
        <% end %>
      </div>
      <div class="topbar-name text-center" id="photo-show-title">
        <p><%= @event.name.upcase %></p>
      </div>
    </div>
  </div>
  <div class="subcontainer">
    <div class="photo-card card-border">
      <div class="photo-image">
        <%= cl_image_tag(@photo.file, class: "main-image")%>
      </div>
      <div class="photo-info">
        <div class="likes">
          <%= link_to event_photo_like_path(@photo.event, @photo) do %>
            <% if current_user.is_liking?(@photo) %>
              <p><i class="fas fa-heart"></i> <%= @photo.likes.count %></p>
            <% else %>
              <p><i class="far fa-heart"></i> <%= @photo.likes.count %></p>
            <% end %>
          <% end %>
        </div>
        <div class="comments">
          <p><i class="far fa-comment"></i> <%= @photo.comments.count %></p>
        </div>
        <% if policy(@photo).destroy? %>
          <div class="destroy">
            <p>
              <%= link_to photo_path(@photo), method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </p>

          </div>
         <% end %>
      </div>
    </div>
    <div class="section">
      <p class="section-title">Tags</p>
      <% @photo.photo_tags.each do |tag| %>
        <p class="tag">#<%= tag.tag.name %></p>
      <% end %>
    </div>
    <div class="section">
      <p class="section-title">Comments</p>
      <%= render 'photos/comment', photo: @photo, comment: @comment %>
      <div id="comments">
        <% @photo.comments.each do |comment| %>
            <%= render 'comments/show', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>
