<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Share photos with everybody">
    <meta property="og:description" content="The social network app to share photos instantely.">
    <meta property="og:image" content="https://www.sharypix.live">
    <meta property="og:url" content="https://www.sharypix.live">
    <meta property="og:type" content="website">
    <% if yield(:title).blank? %>
    <title>Shary Pix - Share your photos easily with your friends</title>
    <% else %>
    <title><%= yield(:title) %></title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/navbar' unless @disable_nav %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  </body>
</html>
